@{
    ViewData["Title"] = "Manage Users";
}

<h2>Welcome to the User Management Area, @Context.User.Identity.Name </h2>



<p>A table of users will go here and they will have to options to Edit or Delete, as well as Add a new User</p>