@{
    ViewData["Title"] = "Portal";
}
@model CCT.PortalController.LogInModel

<h2>User Portal</h2>

<p>Welcome to the Country Club Tower user portal.</p>
<p>Please enter your credentials to proceed.</p>
<div class="container">
<p style="color: red; font-size: 20px">@ViewBag.errors</p>
    <form asp-controller="Portal" method="post">
        <div class="form-group row">
            <div class="col-md-4">
                <p style="padding-top: 5px"><b>Username:</b></p>
                <input asp-for="email" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <p style="padding-top: 5px"><b>Password:</b></p>
                <input asp-for="password" class="form-control">
            </div>
        </div>
    <input type="submit" class=" btn btn-primary" style="margin-top: 20px; padding-left: 2vw; padding-right: 2vw" value="Submit">
    </form>
</div>
    <br><br>
    <h4> Have you registered yet? <a href="Portal/NewUser">Create an account now.</a></h4>