@{
    ViewData["Title"] = "Portal";
}
@model CCT.User

<h2>User Portal</h2>

<p>Welcome to the Country Club Tower user portal.</p>
<p>Please enter your credentials to proceed.</p>
</br>
<div>
    <form>
    <p style="padding-top: 5px">Username:</p>
    <input type="text">
    <asp: TextBox id="userName" runat="server">
    <p style="padding-top: 5px">Password:</p>
    <input type="text">
    <asp: TextBox id="password" runat="server">
    <br>
    <input type="submit" style="margin-top: 20px" value="Submit">

    </form>
    <br><br>
    <h4> Have you registered yet? <a href="Portal/NewUser">Create an account now.</a></h4>
</div>