@{
    ViewData["Title"] = "Portal";
}
@model CCT.PortalController.LogInModel

<h2>User Portal</h2>

<p>Welcome to the Country Club Tower user portal.</p>
<p>Please enter your credentials to proceed.</p>
</br>
<p style="color: red; font-size: 20px">@ViewBag.errors</p>
<div>

    <form asp-controller="Portal" method="post">
    <p style="padding-top: 5px">Username:</p>
    <input asp-for="email">
    <p style="padding-top: 5px">Password:</p>
    <input asp-for="password">
    <br>
    <input type="submit" style="margin-top: 20px" value="Submit">
    </form>

    <br><br>
    <h4> Have you registered yet? <a href="Portal/NewUser">Create an account now.</a></h4>
</div>