@{
    ViewData["Title"] = "Portal";
}
@model CCT.PortalController.userClaim

<h2>User Portal</h2>

<p>Welcome to the Country Club Tower new user registration page!</p>
<p>Please fill out all of the fields and click 'Submit' when complete.</p>
</br>
<div>
    <form asp-controller="Portal" asp-action="NewUser" method="post">
    <table>
        <tr>
            <th style="font-family: times, serif">First Name</th>
            <th>Last Name</th>
        </tr>
        <tr>
            <td style="padding-right: 25px"><input asp-for="FirstName" style="width: 25vw"></td>
            <td><input asp-for="LastName" style="width: 25vw"></td>
        </tr>
    </table>
    <p style="padding-top: 5px">Email: </p>
    <input asp-for="Email">
    <br>
    <p style="padding-top: 5px">Password: </p>
    <input asp-for="password" type="password">
    <br>

    <p>@ViewBag.errors</p>

    <input type="checkbox" asp-for="admin"><p style="display: inline; padding-left: 9px">Make me an all powerful genie!</p>
    <br>

    <input type="submit" style="margin-top: 20px" value="Submit">
    </form>
</div>