@{
    ViewData["Title"] = "Portal";
}
@model CCT.User

<h2>User Portal</h2>

<p>Welcome to the Country Club Tower user portal.</p>
<p>PPlease fill out all of the fields.</p>
</br>
<div>
    <form asp-controller="Portal" asp-action="CreateUser" method="post">
    <p>Username:</p>
    <input asp-for="UserName">
    <p style="padding-top: 5px">Email</p>
    <input asp-for="Email">
    <br>
    <input asp-for="password">
    <br>
    <input type="submit" style="margin-top: 20px" value="Submit">
    </form>
</div>