@{
    ViewData["Title"] = "Welcome to the Calendar!";
}
@model CCT.Event

<h2>Schedule an event by clicking on the appropriate day.</h2>


<link rel="stylesheet" href="~/css/fullcalendar.min.css">
<link rel="stylesheet" href="~/css/timepicker.css">

<script src='~/js/moment.min.js'></script>
<script src='~/js/fullcalendar.min.js'></script>
<script src='~/js/bootstrap-datepicker.js'></script>
<script src='~/js/bootstrap-timepicker.js'></script>

<script type='text/javascript'>
    $(document).ready(function() {

        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();


        $('#calendar').each(function(){
            var calendar = $(this);
            calendar.fullCalendar({
                editable: true,
                eventLimit: true,
                fixedWeekCount: false,
                selectable: true,
                // TODO: implement usage of GetEvents function from Home controller
                events: 
                [
                    {
                        title: 'my event',
                        start: new Date(y, m, 1, 9, 00),
                        end: new Date(y, m, 1, 10, 00),
                        allDay: false,
                    }
                ],

                select: function(start, end)
                {
                    // prompt to enter start end title and desc
                    $('#eventPrompt').modal()
                }
            })
        });

    });
</script>


<div class='container'>
        <div class="col-md-10 col-md-offset-1" id='calendar'></div>
</div>
<button type="button" class="btn btn-lg btn-secondary" style="margin-top: 4vh; margin-left: 4vw" onclick="window.history.go(-1)">Back</button>


@* a prompt box that appears when they click on the calendar *@
<div id="eventPrompt" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Event</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="title">Event Title:</label>
                    <input class="form-control" asp-for="title" id="title">
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="start">Event Start Date:</label>
                            <div class="input-group date" data-provide="datepicker" data-date-autoclose="true">
                                <input type="text" class="form-control" id="start-date">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label></label>
                            <input class="form-control" asp-for="start" data-provide="timepicker" id="start-time">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="end">Event End Date:</label>
                            <div class="input-group date" data-provide="datepicker" data-date-autoclose="true">
                                <input type="text" class="form-control" id="end-date">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="display: inline-block">
                        <div class="form-group">
                            <label></label>
                            <input class="form-control" asp-for="end"  data-provide="timepicker" id="end-time">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">Event Description:</label>
                    <textarea class="form-control" asp-for="description" id="description"></textarea>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn" id="cancel-btn" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" id="submit-btn" >Submit</button>
            </div>
        </div> 
    </div>
</div>