@{
    ViewData["Title"] = "Welcome to the Admin Area!";
}

<h2>Welcome to the Admin Area, @Context.User.Identity.Name </h2>

<p>You may do any of the following:</p>

<p><a asp-area="Admin" asp-controller="Documents" asp-action="Index">Manage Documents</a></p>
<p><a asp-area="Admin" asp-controller="Users" asp-action="Index">Manage Users</a></p>
<p><a asp-area="Admin" asp-controller="Home" asp-action="Calendar">Schedule Events</a></p>