@{
    ViewData["Title"] = "Create a New User";
}
@model CCT.PortalController.userClaim

<h2>Create a new User by filling out the form below.</h2>

</br>
<div>
    <form asp-controller="Users" asp-action="CreateUser" method="POST">
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        <tr>
            <td style="padding-right: 25px"><input asp-for="FirstName" style="width: 25vw"></td>
            <td><input asp-for="LastName" style="width: 25vw"></td>
        </tr>
    </table>
    <p style="padding-top: 5px">Email: </p>
    <input asp-for="Email">
    <br>
    <p style="padding-top: 5px">Password: </p>
    <input asp-for="password" type="password">
    @*TODO: Implement red text that appears when requirements are not met*@
    <br>

    <p>@ViewBag.errors</p>

    <input class="form-check-input" id="admin" type="checkbox" asp-for="admin">
    <label class="form-check-label" for="admin">Make the User an Admin?</label>
    <br>

    <input type="submit" class="btn btn-primary" style="margin-top: 20px" value="Submit">
    <button type="button" class="btn btn-secondary" style="margin-top: 4vh; margin-left: 4vw" onclick="window.history.go(-1)">Cancel</button>
    </form>
</div>