@model CCT.User

@{
    ViewData["Title"] = "Edit User - " + Model.UserName;
}


<h4 style="padding: 5vh 0 5vh 0">Change the values to suit your needs. When complete, please press save.</h4>

<div>
    <form asp-area="Admin" asp-controller="Users" asp-action="EditUser" method="POST">
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        <tr>
            <td style="padding-right: 25px"><input asp-for="FirstName" style="width: 25vw"></td>
            <td><input asp-for="LastName" style="width: 25vw"></td>
        </tr>
        <tr>
            <th>
                <br>
                <p style="font-weight: bold; margin-bottom: -0.2vh">Email</p>
            </th>
        </tr>
        <tr>
            <td>
                <input asp-for="Email">
            </td>
        </tr>
        <tr>
            <th>
                <br>
                <p style="font-weight: bold; margin-bottom: -0.2vh">Apartment Number</p>
            </th>
        </tr>
        <tr>
            <td>
                <input asp-for="ApartmentNumber">
            </td>
        </tr>
    </table>

    <input type="submit" style="margin-top: 4vh" value="Save" class="btn btn-primary">
    <button class="btn btn-secondary" style="margin-top: 4vh; margin-left: 4vw" asp-action="Index" asp-area="Admin" asp-controller="Users">Cancel</button>

    </form>
</div>