@{
    ViewData["Title"] = "Welcome";
}
@model CCT.User

<h2>Welcome to the Members Area, @Context.User.Identity.Name </h2>
<div id="jump-to-doc" style="float:right; font-size: 3vh; color: blue; text-decoration: underline">
    <h2 style="color: black !important; text-decoration: none">Jump to:</h2>
    <p>Recent Settlements</p>
    <p>Past Settlements</p>
    <p>Future Settlements</p>
</div>
<h3><b>All documents:</b><h3>
    <p style="position: absolute; width: 70vw; word-wrap: break-word">ssomebigolddocumnetsaregoingt 
        ogoheresomebigolddocumnetsaregoingtog
        oheresomebigolddocumnetsaregoin
        gtogoheresomebigo
        lddocumnetsaregoingtogoh
        eresomebigolddocumn
        etsaregoingtogoheresomebigolddo
        cumnetsaregoingtogohereomebigolddo
        cumnetsaregoingtogohere</p>