@{
    ViewData["Title"] = "About Country Club Tower";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-xs-offset-1 col-xs-9">
        <p>Country Club Tower is a community for the older person with 24/7 security and concierge serve, reserved surveilled parking, extensive fitness room, heated pool in a park like setting, tennis on-site, gold nearby, loung/meeting room, beautiful landscaping, common area daily maintenance, and other amenities.<br>
        </p>
        <br>
        <p>
            Country Club Tower is known for resident compatibility, unparalleled safety, hurrican resistance, elegant lobby, spacious units accessed by interior corridors, three elevators, handicap accessibilty, self management, and reasonable quarterly maintenance fees.
        </p>
        <br>
        <p>
            Situated in the planned City of Coral Srpings noted for its restaurants, shopping, theaters, parks, civic center, museum, transportation and recreational facilities.
        </p>
    </div>
</div>
