@{
    ViewData["Title"] = "Upload Documents";
}
@model CCT.Admin.DocumentsController.Document

<h2>Welcome to the Document Management Area, @Context.User.Identity.Name </h2>

<p>Upload a PDF document to be displayed.</p>
<form method="POST" enctype="multipart/form-data" asp-area="Admin" asp-controller="Documents" asp-action="Upload">
    <label for="cat">Category of Document: </label>
    <select id="cat" class="form-control" asp-for="Category" style="display: inline">
        <option value="Articles of Incorporation">Articles of Incorporation</option>
        <option value="Bylaws">Bylaws</option>
        <option value="Declaration of Condominium">Declaration of Condominium</option>
        <option value="Rules and Regulations">Rules and Regulations</option>
        <option value="Executory Contract and List of Bids">Executory Contract and List of Bids</option>
        <option value="Annual Budgets">Annual Budgets</option>
        <option value="Financial Reports">Financial Reports</option>
        <option value="Certification of Board Members">Certification of Board Members</option>
        <option value="Notices">Notices</option>
    </select>
    <br><br>
    <label for="access">Access level of Document: </label>
    <select id="access" class="form-control" asp-for="AccessLevel" style="display: inline">
        <option value="members">Members Only</option>
        <option value="public">Public</option>
    </select>
    <br><br>
    <label for="Name" >Document Name:</label><p style="color: red; display: inline">    *Required</p>
    <input type="text" id="Name" asp-for="Name" class="form-control"/>
    <br>
    <input type="file" asp-for="file" />
    <br>
    <div style="padding-top: 4vh">
    <p style="color: green; font-size: 20px">@ViewBag.result</p>
    <input type="submit" value="Upload"  class="btn btn-primary"/>
    <input type="button" class="btn btn-secondary" style="display: inline;margin-left: 4vw" onclick="location.href='@Url.Action("Index","Documents")'" value="Cancel">
    </div>
</form>