@{
    ViewData["Title"] = "Welcome to the Calendar!";
}
@model CCT.Event

<h2>Here are all of the upcoming events:</h2>


<link rel="stylesheet" href="~/css/fullcalendar.min.css">

<script src='~/js/moment.min.js'></script>
<script src='~/js/fullcalendar.min.js'></script>
<script src='~/js/bootstrap-datepicker.js'></script>

<script type='text/javascript'>
    $(document).ready(function() {

        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();


        $('#calendar').each(function(){
            var calendar = $(this);
            calendar.fullCalendar({
                editable: true,
                eventLimit: true,
                fixedWeekCount: false,
                selectable: true,
                // TODO: implement usage of GetEvents function from Home controller
                events: 
                [
                    {
                        title: 'my event',
                        start: new Date(y, m, 1, 9, 00),
                        end: new Date(y, m, 1, 10, 00),
                        allDay: false,
                    }
                ]
            })
        });

    });
</script>


<div class='container'>
        <div class="col-md-10 col-md-offset-1" id='calendar'></div>
</div>

<button type="button" class="btn btn-lg btn-secondary" style="margin-top: 4vh; margin-left: 4vw" onclick="window.history.go(-1)">Back</button>