@{
    ViewData["Title"] = "Welcome to the Members Area!";
}
<h2>Welcome to the Members Area, @Context.User.Identity.Name </h2>

<br>
<h4>View the admin panel: <a asp-area="Admin" asp-controller="Home" asp-action="Index">Click here</a></h3>
<h4>View the upcoming events: <a asp-area="Members" asp-controller="Home" asp-action="Calendar">Click here</a></h3>
<br>
<h3 class="col-md-offset-1"><b>All documents:</b></h3>

<div>
    @await Component.InvokeAsync("DocList", new {accessLevel = "public"})
</div>